@{
  Layout = "_Layout";
}

<form action="/search_by_artist" method="post">
  <label for="inputArtistName">Search for Artist</label>
  <input id="inputArtistName" name="inputArtistName" type="text">
  <button type="submit">Submit</button>
</form>

<a href="/">Home</a>