@{
  Layout = "_Layout";
}

<form action="/records" method="post">
  <label for="inputTitle">Enter Title</label>
  <input id="inputTitle" name="inputTitle" type="text">
  <button type="submit">Submit</button>
</form>